{% extends "layout/appLayout.html" %}

{% block title %}Category Edit{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Edit User</h1>
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-2">Edit User</h3>
                    </div>

                    <div class="card-body">
                        <form method="post" action="users-update">
                            <div class="form-group">
                                <input type="hidden" value="{{ users.id }}" name="id">
                                <label class="small mb-1">First Name :</label>
                                <input class="form-control py-4" name="first_name" value="{{ users.first_name }}" type="text" placeholder="Enter First Name"/>
                            </div>
                            <div class="form-group">
                            
                                <label class="small mb-1">Last Name :</label>
                                <input class="form-control py-4" name="last_name" value="{{ users.last_name }}" type="text" placeholder="Enter Last Name"/>
                            </div>
                          
                            <div class="form-group">
                   
                                <label class="small mb-1">Email :</label>
                                <input class="form-control py-4" name="email" value="{{ users.email }}" type="text" placeholder="Enter Email"/>
                            </div>
                         

                            <input class="btn btn-primary" value="Edit User" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}