{% extends "layout/appLayout.html" %}

{% block title %}Library | Users{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Patients</h1>
        <ol class="breadcrumb mb-4">

        </ol>

        <div class="row">
            <div class="col-12">
                 <p style="color: blue; font-size: 18px;">Total Patients: {{ users|length }}</p> 
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Photo</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{user.first_name }}</td>
                            <td>{{user.last_name }}</td>
                            <td>{{user.email }}</td>
                            <td><img style="width: 50px; height: 50px; object-fit: cover" src="uploads/{{ user.photo }}"></td>                            
                            <td> <form method='get' action='users-edit'>
                                <input type='hidden' name='id' value='{{user.id}}'>
                                <input type='submit' value='Edit'>
                            </form></td>
                            <td><form method='post' action='users-delete'>
                                <input type='hidden' name='id'value='{{user.id}}'>
                                <input type='submit' value='Delete'>
                            </form></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block css %}
<style>

</style>
{% endblock %}