<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styless.css" rel="stylesheet" />
</head>
<body>
    <main>     
        
        <div class="container-fluid">
         
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header">
                            <h3 class="text-center font-weight-light my-2">Log In</h3>
                        </div>
                        
                        <div class="card-body">
                            {% if message != '' %}
                            <span class="color-danger py-3 px-1">{{ message }}</span>
                            {% endif %}
                            <form method="post" action="login-store">
                                <div class="form-group">
                                    <label class="small mb-1">Email :</label>
                                    <input class="form-control py-3" name="email" type="text" placeholder="Enter Email"/>
                                </div>
                                <div class="form-group">
                                    <label class="small mb-1">Password :</label>
                                    <input class="form-control py-3" name="password" type="password" placeholder="Enter Password"/>
                                </div>
                                <div class="form-group mt-2" id="createAccountDropdown" style="display: none">
                                 <label class="small mb-1">Create Account As:</label> 
                                    <select id="accountType" class="form-control">
                                        <option id="ruOption" value="ru">Patient</option>
                                        <option id="rd" value="rd">Doctor</option>
                                    </select>
                                </div>
                                <p class="mt-2"  style="cursor: pointer;" id="createAccountLink">Create account?</p>
                                <input class="btn btn-primary my-1" value="Log in" type="submit" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
                document.getElementById('createAccountLink').addEventListener('click', function() {
                    // Toggle visibility of the dropdown
                    var accountTypeDropdown = document.getElementById('createAccountDropdown');
                    accountTypeDropdown.style.display = (accountTypeDropdown.style.display === 'none' || accountTypeDropdown.style.display === '') ? 'block' : 'none';
                });
        
                document.getElementById('accountType').addEventListener('change', function() {
                    // Redirect to the selected endpoint
                    var selectedOption = this.value;
                    window.location.href = selectedOption;
                });
        </script>
    </main>

</body>
</html>