{% extends "layout/appLayout.html" %}

{% block title %}Create Controll{% endblock %}

{% block content %}
<div class="container">
    <h1>Create Controll</h1>

    <form method="post" action="controlls-store">
        
        <div class="form-group">
            <label for="diagnosis">Diagnosis</label>
            <textarea id="diagnosis" name="diagnosis" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label for="prescription">Prescription</label>
            <textarea id="prescription" name="prescription" class="form-control" required></textarea>
        </div>
        <select class="form-control py-3 my-3" name="appointment_id" required>
            {% for appointment in appointments %}
            <option value="{{ appointment.id }}" data-doctor="{{ appointment.doctor.first_name }} {{ appointment.doctor.last_name }}" data-user="{{ appointment.user.first_name }} {{ appointment.user.last_name }}" data-appointment-date="{{ appointment.appointment_date }}">  {{ appointment.doctor.first_name }} {{ appointment.doctor.last_name }} - {{ appointment.user.first_name }} {{ appointment.user.last_name }} - {{ appointment.appointment_date }}</option>
            {% endfor %}
        </select>
         <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

{% endblock %}
