{% include "layout/appLayout.html" %}

{% block title %}{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Edit Controll</h1>
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-2">Edit Controll</h3>
                    </div>

                    <div class="card-body">
                        <form method="post" action="controlls-update">
                            <input type="hidden" value="{{ controll.id }}" name="id">
                            <div class="form-group">
                                <label class="small mb-1">Diagnosis:</label>
                                <textarea class="form-control py-4" name="diagnosis" rows="4">{{ controll.diagnosis }}</textarea>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1">Prescription:</label>
                                <textarea class="form-control py-4" name="prescription" rows="4">{{ controll.prescription }}</textarea>
                            </div>

                            <input class="btn btn-primary" value="Update Controll" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
