{% include "layout/appLayout.html" %}

{% block title %}{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Controlls</h1>
        <ol class="breadcrumb mb-4">
        </ol>

        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>                          
                            <th>Doctor </th>
                            <th>Patient </th>
                            <th>Appointment Date</th>
                            <th>Diagnosis</th>
                            <th>Prescription</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for controll in controlls %}
                            <tr>
                                <td>{{ controll.appointment.doctor.first_name }} {{ controll.appointment.doctor.last_name }}</td>
                                <td>{{ controll.appointment.user.first_name }} {{ controll.appointment.user.last_name }}</td>
                                <td>{{ controll.appointment.appointment_date }}</td>
                                <td>{{ controll.diagnosis }}</td>
                                <td>{{ controll.prescription }}</td>
                                <td>
                                    <form method='get' action='controlls-edit'>
                                        <input type='hidden' name='id' value='{{ controll.id }}'>
                                        <input type='submit' value='Edit'>
                                    </form>
                                </td>
                                <td>
                                    <form method='post' action='controlls-delete'>
                                        <input type='hidden' name='id' value='{{ controll.id }}'>
                                        <input type='submit' value='Delete'>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
