<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Simple Sidebar - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

        <link href="css/styless.css" rel="stylesheet" />
    </head>
    <body>
       
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-light" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">-Max Hospital</div>
                <div class="list-group list-group-flush">
                   {% if doki %}
                   <a class="list-group-item list-group-item-action list-group-item-light p-3 my-2" href="search-appointments">All Appointments</a> 
                   {% endif %}
                   <a class="list-group-item list-group-item-action list-group-item-light p-3 my-2" href="appointments">Appointments</a>
                   {% if not doki %}
                   <a class="list-group-item list-group-item-action list-group-item-light p-3 my-2" href="appointments-create">Create Appointment</a> 
                   {% endif %}
                   <a class="list-group-item list-group-item-action list-group-item-light p-3 my-2" href="controlls">Controlls</a>
                   {% if doki %}
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 my-2"  href="controlls-create">Controlls Check</a> 
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 my-2" href="doctors">Doctors</a>
                    {% endif %}
                    {% if doki %}
                     <a class="list-group-item list-group-item-action list-group-item-light p-3 my-2" href="Users">Patients</a>
                    {% endif %}
                    
                   </div>
            </div> 
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                       
                        
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="drop" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nottification</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="drop">
                                        <a class="dropdown-item" href="logout">Log Out</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Something else here</a>
                                    </div>
                                </li>

                                <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                               
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="logout">Log Out</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Something else here</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                {% block content %}
                {% endblock %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../public/css/scripts.js"></script>
    </body>
</html>
