{% extends "layout/appLayout.html" %}

{% block title %}Doctor Create{% endblock %}

{% block content %}
<main>     
 
    <div class="container-fluid">
        <h1 class="mt-4">Add Doctor</h1>
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-2">Add Doctor</h3>
                    </div>
                    
                    <div class="card-body">
                        <form method="post" action="doctors-store">
                            <div class="form-group">
                                <label class="small mb-1">First Name :</label>
                                <input class="form-control py-4" name="first_name" type="text" placeholder="Enter First Name"/>
                            </div>                  
                            <div class="form-group">
                                <label class="small mb-1">Last Name :</label>
                                <input class="form-control py-4" name="last_name" type="text" placeholder="Enter Last Name"/>
                            </div>        
                            <div class="form-group">
                                <label class="small mb-1">Email :</label>
                                <input class="form-control py-4" name="email" type="text" placeholder="Enter Email"/>
                            </div>          
                            <div class="form-group">
                                <label class="small mb-1">Password :</label>
                                <input class="form-control py-4" name="password" type="password" placeholder="Enter Password"/>
                            </div>               
                            <div class="form-group">
                                <label class="small mb-1">Specialization :</label>
                                <input class="form-control py-4" name="specialization" type="text" placeholder="specialization"/>
                            </div>        
                            <input class="btn btn-primary my-2" value="Add Doctor" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}