{% extends "layout/appLayout.html" %}

{% block title %}Library | Users{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Doctors</h1>
        <ol class="breadcrumb mb-4">
        </ol>

        <div class="row">
            <div class="col-12">
                <p style="color: blue; font-size: 18px;">Total Doctors: {{ doctors|length }}</p> 
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Specialization</th>
                            <th>Email</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for doctor in doctors %}
                        <tr>
                            <td>{{doctor.first_name }}</td>
                            <td>{{doctor.last_name }}</td>
                            <td>{{doctor.specialization }}</td>
                            <td>{{doctor.email }}</td>
                            <td> <form method='get' action='doctors-edit'>
                                <input type='hidden' name='id' value='{{doctor.id}}'>
                                <input type='submit' value='Edit'>
                            </form></td>
                            <td><form method='post' action='doctors-delete'>
                                <input type='hidden' name='id'value='{{doctor.id}}'>
                                <input type='submit' value='Delete'>
                            </form></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block css %}
<style>

</style>
{% endblock %}