{% extends "layout/appLayout.html" %}

{% block title %}Doctor Create{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Make Appointment</h1>
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-2">Appointment Details</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" action="appointments-store">
                           <div class="form-group">
                                <label class="small mb-1">Doctor:</label>
                                <select class="form-control py-4" name="doctor_id" required>
                                    {% for doctor in doctors %}
                                    <option value="{{ doctor.id }}">{{ doctor.first_name }} {{ doctor.last_name }}</option>
                                    {% endfor %}
                                </select>
                            </div> 
                            <div class="form-group">
                                <label class="small mb-1">Appointment Date:</label>
                                <input class="form-control py-4" name="appointment_date" type="datetime-local" required/>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1">Appointment Type:</label>
                                <select class="form-control py-4" name="appointment_type" required>
                                    <option value="routine-controll">Routine Controll</option>
                                    <option value="surgery">Surgery</option>
                                    <option value="scanner">Scanner</option>
                                </select>
                            </div>
                            <input class="btn btn-primary my-2" value="Create Appointment" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}