{% extends "layout/appLayout.html" %}

{% block title %}Edit Appointment{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Edit Appointment</h1>
        <div class="row justify-content-center mx-3">
            <div class="col-lg-9">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-2">Edit Appointment</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" action="appointments-update">
                            <div class="form-group">
                                <input type="hidden" value="{{ appointment.id }}" name="id">
                                <label class="small mb-1">Patient:</label>
                                <p>{{ user.first_name }} {{ user.last_name }}</p>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1">Doctor:</label>
                                <p>{{ doctor.first_name }} {{ doctor.last_name }}</p>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1">Appointment Date:</label>
                                <input class="form-control py-4" name="appointment_date" value="{{ appointment.appointment_date }}" type="datetime-local" required/>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1">Appointment Type:</label>
                                <p>{{ appointment.appointment_type }}</p>
                            </div>
                            
                            <input class="btn btn-primary" value="Update Appointment" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
