{% include "layout/appLayout.html" %}

{% block title %}  {% endblock %}

{% block content %}
  <main>
    <div class="container-fluid">
        <h1 class="mt-4">Appointments</h1>
        <ol class="breadcrumb mb-4">
        </ol>

        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered"  id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Doctor</th>
                            <th>Doctor Specialization</th>
                            <th>Patient</th>
                            <th>Profile</th>
                            <th>Appointment Date</th>
                            <th>Appointment type</th>
                         <!--   <th>Edit</th>
                            <th>Delete</th> -->
                        </tr>
                        </thead>
                        <tbody>
                            {% for appointment in appointments %}
                            <tr>
                                <td>{{ appointment.doctor.first_name }} {{ appointment.doctor.last_name }}</td>
                                <td>{{ appointment.doctor.specialization }}</td>
                                <td>{{ appointment.user.first_name }} {{ appointment.user.last_name }}</td>
                                <td><img style="width: 50px; height: 50px; object-fit: cover;" src="uploads/{{ appointment.user.photo }}"></td>                  
                                <td>{{ appointment.appointment_date }}</td>
                                <td>{{ appointment.appointment_type }}</td>
                                
                                    {% endfor %} 
                                <!--   {% if appointment.id is defined %}
                                        <form method='get' action='appointments-edit'>
                                            <input type='hidden' name='id' value='{{ appointment.id }}'>
                                            <input type='submit' value='Edit'>
                                        </form>
                                    {% endif %}
                                </td>
                                
                                <td>
                                    <form method='post' action='appointments-delete'>
                                        <input type='hidden' name='id' value='{{ appointment.id }}'>
                                        <input type='submit' value='Delete'>
                                    </form>
                                </td>   
                            </tr>
                            {} -->
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main> 


{% endblock %}

{% block css %}
<style>

</style>
{% endblock %}