{% include "layout/appLayout.html" %}

{% block title %}
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Appointments</h1>
        <form id="searchForm" action="search-appointments" method="get">
            <input class="p-1 px-4" type="text" id="searchInput" name="query" placeholder="Search appointments...">

        </form>

        <ol class="breadcrumb mb-4">
        </ol>

        <div class="row">
            <div class="col-12">
                <p style="color: black; font-size: 18px;">Total Appointments: {{ appointments|length }}</p> 
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Doctor</th>
                                <th>Doctor Specialization</th>
                                <th>Patient</th>
                                <th>Profile</th>
                                <th>Appointment Date</th>
                                <th>Appointment type</th>
                            </tr>
                        </thead>
                        <tbody >
                            {% for appointment in appointments %}
                            <tr>
                                <td>{{ appointment.doctor.first_name }} {{ appointment.doctor.last_name }}</td>
                                <td>{{ appointment.doctor.specialization }}</td>
                                <td>{{ appointment.user.first_name }} {{ appointment.user.last_name }}</td>
                                <td><img style="width: 50px; height: 50px; object-fit: cover;" src="uploads/{{ appointment.user.photo }}"></td>
                                <td>{{ appointment.appointment_date }}</td>
                                <td>{{ appointment.appointment_type }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block css %}
<style>
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="search.js"></script> <!-- Make sure the path to search.js is correct -->
{% endblock %}
